<ds-conteudo>
  <ds-conteudo-titulo icone="la-headset">Painel de gerenciamento</ds-conteudo-titulo>

  <ds-card>
    <ds-card-header-titulo>Pedidos</ds-card-header-titulo>

    <ds-card-content>
      <ds-datatable [dados]="datasource" [colunas]="colunas"
        [colunasExibidas]="['titulo','descricao','urgencia','usuarioSolicitante.nome','dataAbertura','status']">

        <ng-container dsDatatableColuna="urgencia" titulo="Urgência" ordenavel="true" largura="120">
          <ng-template dsColunaCelula let-urgencia>
            <span [class]="urgencia > 2 ? 'text-danger fw-semibold': ''">
              {{urgencia | urgenciaPedido}}
            </span>

            @if (urgencia === 4) {🔥}
          </ng-template>
        </ng-container>

        <ng-container dsDatatableColuna="status" titulo="Status" ordenavel="true" largura="100">
          <ng-template dsColunaCelula let-status>
            <span [class.text-decoration-line-through]="status === 'F'">
              {{status | statusPedido}}
            </span>
          </ng-template>
        </ng-container>
      </ds-datatable>
    </ds-card-content>
  </ds-card>
</ds-conteudo>
