<ds-conteudo>
  <ds-conteudo-titulo icone="la-headset">Painel gerencial</ds-conteudo-titulo>

  <ds-card>
    <ds-card-header-titulo>Filtro</ds-card-header-titulo>

    <ds-card-content>
      <form dsForm #form="dsForm" [bloquearSugestoes]="true">
        <ds-form-control gridClass="col-md-3">
          <input type="text" ngModel name="dataInicial" dsFormControl label="Data inicial"
            dsDatepicker #dataInicial="dsDatepicker" [dataMaxima]="dataFinal.dataInterna()">
        </ds-form-control>

        <ds-form-control gridClass="col-md-3">
          <input type="text" ngModel name="dataFinal" dsFormControl label="Data final"
            dsDatepicker [dataMinima]="dataInicial.dataInterna()" #dataFinal="dsDatepicker">
        </ds-form-control>

        <ds-form-control gridClass="col-md-2">
          <select dsFormControl label="Urgência" ngModel name="urgencia">
            <option [ngValue]="null"></option>
            @for (u of opcoesUrgencia; track $index) {
              <option [ngValue]="u">{{u | urgenciaPedido}}</option>
            }
          </select>
        </ds-form-control>

        <ds-form-control gridClass="col-md-2">
          <select dsFormControl label="Status" ngModel name="status">
            <option [ngValue]="null"></option>
            @for (s of opcoesStatus; track $index) {
              <option [ngValue]="s">{{s | statusPedido}}</option>
            }
          </select>
        </ds-form-control>

        <ds-form-control gridClass="col-md-3">
          <input type="text" dsFormControl label="Solicitante" ngModel name="idUsuarioSolicitante"
            [dsAutocompletar]="buscarUsuario" tamanhoMinimo="2" atributoRotulo="nome" atributoValor="id" autoSelecionarUnicoItem>
        </ds-form-control>

        <ds-form-control gridClass="col-md-3">
          <input type="text" dsFormControl label="Atendente" ngModel name="idUsuarioAtendente"
            [dsAutocompletar]="buscarUsuario" tamanhoMinimo="2" atributoRotulo="nome" atributoValor="id" autoSelecionarUnicoItem>
        </ds-form-control>

        <ds-form-control gridClass="col-md">
          <input type="text" dsFormControl label="Texto" ngModel name="texto">
        </ds-form-control>

      </form>
    </ds-card-content>

    <ds-card-footer>
      <button ds-botao cor="auto" [disabled]="form.limpo" (click)="form.reset()">Limpar</button>
      <button ds-botao cor="primary" (click)="consultar(form.valorBruto)">Consultar</button>
    </ds-card-footer>

  </ds-card>

  <ds-card>
    <ds-card-header-titulo>Pedidos</ds-card-header-titulo>

    <ds-card-content>
      <ds-datatable [dados]="datasource" [colunas]="colunas" [acoesCustomizadas]="acoes"
        [colunasExibidas]="['id','urgencia','status','titulo','descricao',
          'usuarioSolicitante.nome','usuarioAtendente.nome','dataAbertura']">

        <ng-container dsDatatableColuna="id" titulo="Número" ordenavel="true" largura="120">
          <ng-template dsColunaCelula let-id>
            <a [routerLink]="['..', id]" target="_blank" [attr.arial-label]="`Abrir o pedido nº ${id} em uma nova aba.`">
              <span class="text-primary fw-semibold">{{id}}</span>
            </a>
          </ng-template>
        </ng-container>

        <ng-container dsDatatableColuna="urgencia" titulo="Urgência" ordenavel="true" largura="120">
          <ng-template dsColunaCelula let-urgencia>
            <span [class]="urgencia > 2 ? 'text-danger fw-semibold': ''">
              {{urgencia | urgenciaPedido}}
            </span>

            @if (urgencia === 4) {🔥}
          </ng-template>
        </ng-container>

        <ng-container dsDatatableColuna="status" titulo="Status" ordenavel="true" largura="100">
          <ng-template dsColunaCelula let-status>
            <span [class.text-decoration-line-through]="status === 'F'" [class]="status | codStatusPedido">
              {{status | statusPedido}}
            </span>
          </ng-template>
        </ng-container>
      </ds-datatable>
    </ds-card-content>
  </ds-card>

</ds-conteudo>
