<ds-crud-edicao-detalhe endpoint="servicos" endpointRelativo="true"
  [exclusaoHabilitada]="true"
  [permitirExclusaoEmLote]="true"
  [textoRecurso]="textos"
  [colunas]="colunas"
  [colunasExibidas]="['nome', 'ativo']"
  [ordenacaoInicial]="{coluna: 'nome', sentido: 'asc'}"
  [tamanhoPaginaInicial]="5"
  [tratamentoSalvar]="tratamentoSalvar"
  tituloDatatable="Serviços vinculados a esta categoria">

  <form dsForm [formGroup]="formServico" destaqueValidacao="true">
    <ds-form-control gridClass="col-lg-6">
        <input dsFormControl type="text" formControlName="nome" label="Nome" dsValidacaoInline />
    </ds-form-control>

    <ds-form-control gridClass="col-md-2">
        <input dsFormControl type="checkbox" formControlName="ativo" label="Ativo" />
    </ds-form-control>
  </form>

</ds-crud-edicao-detalhe>